# Azure Secrets
setup_env.sh
*.pem

# Terraform files
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Ansible files
inventory_azure.yml

# Misc / Clutter (Debugging and temporary files)
misc/

# Portfolio documenten (Worden nu WEL gepusht)
# portfolio_docs/

# OS files
.DS_Store
Thumbs.db
desktop.ini
